* {
  box-sizing: border-box;
}

body {
  height: 500vh;
  margin-top: 200px;
}

.parent {
  background-color: #af47ff;
  padding: 30px;
  width: 300px;

  position: sticky;
  top: 100px;
}

.child {
  background-color: #ff4797;
  padding: 30px;
}

.box {
  background-color: #f3ff47;
  padding: 30px;
  border: 2px dotted #333;
  text-align: center;
  font-size: 2rem;
}